.container{
    text-align: center;
    margin-top: 23px;
}

table
{
    margin: auto;
}

h1{
    text-decoration: underline;
}

input{
    border-radius: 15px;
    border: 3px solid black;
    font-size: 33px;
}

button {
    border-radius: 20px;
    background-color: azure;
    font-size: 35px;
    width: 102px;
}

.table
{
    display: inline-block;
    padding: 9px;
    border-radius: 15px;
    background-color: red;
}