body{
    background-color: rgb(22, 124, 213);
}

.whitebox{
    background-color: aliceblue;
    display: inline-block;
    margin: 7px;
    height: 155px;
    width: 155px;
}

.imgbox{
    background-image: url('https://source.unsplash.com/user/erondu/145x145');
    height: 145px;
    width: 145px;
    position: relative;
    top: 5px ;
    left: 5px;
    cursor: pointer;
}

.hold
{
    border: 2px solid red;
}

.block{
    display: block;
}

.dashed{
    border: 2px dashed violet;
}